* {

}

.main-header div {
    display: inline-block;
}

.charles-socials ul li {
    display: inline;
}

.card {
    flex: 1;
    text-align: center;
    margin: 15vh 20vw 20vh;
    border: solid 5px;
    border-radius: 15px;
    padding: 20px;
    height: 300px;
}

.card header {
    flex: 1;
    text-align: center;
    height: 30px;
    font-size: 25px;
}

.card section {
    flex: 1;
    margin: 20px;
    height: 200px;
}

.card footer {
    flex: 1;
    align-items: center;
    height: 70px;
}

.current-question-number {
    text-align: right;
}

.answer-list ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
}

footer {
    position: absolute;
    bottom: 0;
    font-size: 30px;
}

#rules-card {
    /* display: none; /* Dont Forget to Undo Me */
}

#question-one {
    /* display: none; /* Dont Forget to Undo Me */
}

#question-two {
    /* display: none; /* Dont Forget to Undo Me */
}

#question-three {
    /* display: none; /* Dont Forget to Undo Me */
}

#question-four {
    /* display: none; /* Dont Forget to Undo Me */
}

#question-five {
    /* display: none; /* Dont Forget to Undo Me */
}